header{
    background-color: blue;
    text-align: center; 
    color: white;
}
.jumbotron{
    background-color: green;
}
.avatar{
    width: 50%;
}
.box{
    margin: 0 auto;
}
.testo{
    height: 200px;
}
.form-control{
    border: none;
    border-bottom: 1px solid black;
}
.btn{
    background-color: green;
    border: 2px solid white;
    border-radius: 5px;
}
.portfolio{
    background-color: white;
}
.about{
    background-color: green;
 
}

.sfondi{
    width: 100%;
}
.text-green{
    color: green;
}
.nav{
    
    background-color: green;
}

.footer{
    background-color: rgb(44, 62, 80);
    
}
.my-footer-top{
    background-color: rgba(11, 11, 112, 0.829)
    
}
.my-footer-bottom{
    background-color: rgb(11, 8, 39);
    
}